.maincard {
  //background-color: #17589D;
  border-radius: 0;
  color: white;
  height: -webkit-fill-available;
  width: 100%;
  position: absolute;

  //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #f0b8a7, #f3a8c5, #a1dbf0, #a7f3e1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}