<div class="card maincard">
  <div class="row g-0 firstRow">
    <div class="col-md-4">
      <div class="img-fluid rounded-start">
        <div id="carouselMain" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/950x650/sergioquinteiro_950x650.jpg" class="d-block w-100" alt="Sergio Quinteiro Varela, foto de presentación de la candidatura">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/rieloquinteiro_950x650.jpg" class="d-block w-100" alt="Pablo Rielo y Sergio Quinteiro con José Crespo, en su presentación a la candidatura de las municipales 2023">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/pqlg_950x650.jpg" class="d-block w-100" alt="Presentación del lema 'Para que Lalín Gañe'">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/candidatura_950x650.jpg" class="d-block w-100" alt="Foto con todos los miembros de la candidatura de las elecciones municipales 2023">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/mitincentral_950x650.jpg" class="d-block w-100" alt="Foto den Mitin Central municipal Lalín 2023">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/asubioprazaigrexa_950x650.jpg" class="d-block w-100" alt="Atendiendo las preocupaciones de la gente en una terraza con el Alcalde, en días previos a las elecciones municipales">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/comisionradiolalin_950x650.jpg" class="d-block w-100" alt="Presentación del cartel de las Fiestas de Lalín en Radio Lalín">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/palcolossatelites_950x650.jpg" class="d-block w-100" alt="Quinteiro y demás miembros de la Comisión de Fiestas de As Dores de Lalín 2023 entregan 3000€ a la ganadora del sorteo">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Sergio Quinteiro Varela</h3>
        <h5 class="card-title">Definición de mi persona</h5>
        <p class="card-text">
          Si tuviese que presentar una descripción detallada de mí mismo, probablemente no sabría por dónde empezar.
        </p>
        <p>
          A menudo, me encuentro con comentarios acerca de quién soy, lo que hago o lo que represento para mi gente. Algunos son acertados, otros no tanto, y muchos otros no se acercan ni de lejos. Y es que hay mucha gente que crée saberlo todo sobre mí e, ingenuos, desconocen realmente la esencia de mi persona. Por eso, dedico esta entrada a profundizar sobre eso mismo: quién soy, lo que hago, y lo que represento para quién me rodea.
        </p>

      </div>
    </div>
  </div>
  <div class="row g-0 secondRow">
    <h5>1.- ¿Quién soy?</h5>
        <p>
          Mi nombre es Sergio Quinteiro. Soy de una aldea de Bendoiro, en ayuntamiento de Lalín, Pontevedra. Tengo 22 años.
        </p>
        <h5>2.- ¿Qué hago?</h5>
        <p>
          Pues XD y ya.
        </p>
        <h5>3.- ¿Qué represento?</h5>
        <p>
          Pues XD y ya.
        </p>
  </div>
</div>
<div class="">

</div>