.carousel-inner {
  border-radius: 10px;
}

.socials {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

  > div {
    display: flex;
    gap: 10px;
    width: 150px;
    background-color: #696969;
    border-radius: 4px;
    padding: 5px;
  }

  > .socialsItem {
    background-color: #696969;
  }

  > .socialsItem:hover {
    background-color: darkgrey;
  }
}

.cv {
  margin-top: 20px;
}