<div class="card commonMainCard">
  <div class="mainContainer">
  
    <div class="info">
      <div class="infoBody">
        <div class="name">
          <h1>Sergio Quinteiro Varela</h1>
        </div>
        <h5 class="population">Lalín, Pontevedra</h5>
      </div>
    </div>

    <div class="col-md-4">
      <div class="img-fluid rounded-start">
        <div id="carouselMain" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/950x650/sergioquinteiro_950x650.jpg" class="d-block w-100" alt="Sergio Quinteiro Varela, foto de presentación de la candidatura">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/Formacion_JuntaAndalucia_950x650.png" class="d-block w-100" alt="Formación del ADA para la Junta de Andalucía">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/rieloquinteiro_950x650.jpg" class="d-block w-100" alt="Pablo Rielo y Sergio Quinteiro con José Crespo, en su presentación a la candidatura de las municipales 2023">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/candidatura_950x650.jpg" class="d-block w-100" alt="Foto con todos los miembros de la candidatura de las elecciones municipales 2023">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/mitincentral_950x650.jpg" class="d-block w-100" alt="Foto den Mitin Central municipal Lalín 2023">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/comisionradiolalin_950x650.jpg" class="d-block w-100" alt="Presentación del cartel de las Fiestas de Lalín en Radio Lalín">
            </div>
            <div class="carousel-item">
              <img src="../../assets/950x650/palcolossatelites_950x650.jpg" class="d-block w-100" alt="Quinteiro y demás miembros de la Comisión de Fiestas de As Dores de Lalín 2023 entregan 3000€ a la ganadora del sorteo">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>

    <div class="socials">
      <div class="socialsItem linkedin" (click)="goToLinkedIn()">
        <div class="icon">
          <img src="assets/img/linkedin_white.svg" alt="linkedin">
        </div>
        <div class="name">
          <span>LinkedIn</span>
        </div>
      </div>
      <div class="socialsItem instagram" (click)="goToInstagram()">
        <div class="icon">
          <img src="assets/img/instagram_white.svg" alt="instagram">
        </div>
        <div class="name">
          <span>Instagram</span>
        </div>
      </div>
      <div class="socialsItem facebook" (click)="goToFacebook()">
        <div class="icon">
          <img src="assets/img/facebook_white.svg" alt="facebook">
        </div>
        <div class="name">
          <span>Facebook</span>
        </div>
      </div>
      <div class="socialsItem twitter" (click)="goToTwitter()">
        <div class="icon">
          <img src="assets/img/twitter_white.svg" alt="twitter">
        </div>
        <div class="name">
          <span>Twitter</span>
        </div>
      </div>
    </div>
  
  </div>
</div>